@charset "UTF-8";
@keyframes loader {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
@keyframes loader_background {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes apparition_plats {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* Éléments typographiques */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

h4 {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.6rem;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

/* Mobile first Homepage - @media screen and (max-width: 480px) */
body {
  margin: 0;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.685);
  animation-name: loader_background;
  animation-delay: 2.3s;
  animation-fill-mode: both;
}
.loader__icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 18px solid #9356DC;
  border-top: 18px solid #FF79DA;
  animation: spin linear 2.5s;
  animation-name: loader;
}

.container_header {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 0.5rem #0000002e;
  z-index: 1;
  position: relative;
}

.container_localisation {
  display: flex;
  background-color: #EAEAEA;
  position: relative;
  padding: 1rem;
  justify-content: center;
}
.container_localisation__icon {
  margin-right: 1rem;
}
.container_localisation__text {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.container_fonctionnement {
  display: flex;
  flex-direction: column;
  width: 97%;
}
.container_fonctionnement__cartouche {
  list-style-type: none;
  counter-reset: compteListe;
  align-content: center;
  margin-left: -1rem;
}
.container_fonctionnement__options {
  max-width: 100%;
  display: flex;
  background-color: #F6F6F6;
  height: 2rem;
  border-radius: 1rem;
  padding: 1rem 1rem;
  align-items: center;
  box-shadow: 0 0 10px #0000002e;
  margin-bottom: 1rem;
}
.container_fonctionnement__options::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background-color: #9356DC;
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1.75rem;
}
.container_fonctionnement__icone {
  color: #3535356e;
  margin-left: 1rem;
}
.container_fonctionnement a {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin-left: 1.5rem;
  opacity: 1;
}
.container_fonctionnement__titre {
  padding-top: 2.5rem;
  padding-left: 1rem;
}

.purple-option {
  background-color: #ddbfff75;
}
.purple-option__icon {
  color: #9356DC;
  margin-left: 1rem;
}

.intro_site {
  background-color: #F6F6F6;
  padding: 1.5rem;
  padding-bottom: 3rem;
  text-align: center;
}
.intro_site__titre {
  font-size: 1.6rem;
}
.intro_site__description {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.container_restaurants {
  background-color: #F6F6F6;
}
.container_restaurants__titre {
  padding-top: 2.5rem;
  padding-left: 1.2rem;
}

.cartouche_restaurants {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.cartouche_restaurants__bloc {
  max-width: 100%;
  background-color: #FFFFFF;
  border-radius: 1.2rem;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  margin-bottom: 1.2rem;
  position: relative;
  overflow: hidden;
}
.cartouche_restaurants a {
  text-decoration: none;
  color: inherit;
}
.cartouche_restaurants__nouveau {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.cartouche_restaurants__figure {
  margin: 0rem;
}
.cartouche_restaurants__img {
  height: 10rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.cartouche_restaurants__blocfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -0.7rem;
}
.cartouche_restaurants__titre {
  margin-bottom: 0.3rem;
}
.cartouche_restaurants__texte {
  margin-top: 0.3rem;
}
.cartouche_restaurants__coeur {
  font-family: "Font Awesome 5 Free";
  text-decoration: inherit;
}
.cartouche_restaurants__coeur:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition-duration: 0.7s;
  background-clip: content-box;
  object-fit: cover;
  cursor: pointer;
}

#container_footer {
  background-color: #353535;
  max-width: 100%;
}

.container_footer {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  padding: 1.2rem;
  padding-bottom: 3rem;
}
.container_footer__logo {
  width: 35%;
  margin-bottom: 2rem;
}
.container_footer a {
  text-decoration: none;
  color: white;
}
.container_footer a:hover {
  cursor: pointer;
  color: #99E2D0;
}
.container_footer__categorie {
  padding-bottom: 0.5rem;
}
.container_footer__icon {
  padding-right: 0.5rem;
  width: 1.2rem;
}

/* Homepage version desktop */
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }

  .container_fonctionnement {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .container_fonctionnement__cartouche {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
  .container_fonctionnement__options {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex: 1;
  }
  .container_fonctionnement__titre {
    padding-top: 1rem;
    padding-left: 0;
  }

  .container_restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_restaurants__titre {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
  }

  .cartouche_restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
  }
  .cartouche_restaurants__bloc {
    max-width: 100%;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    margin-bottom: 1.2rem;
    position: relative;
    overflow: hidden;
    width: 48%;
    margin-bottom: 2.5rem;
  }
  .cartouche_restaurants a {
    text-decoration: none;
    color: inherit;
  }
  .cartouche_restaurants__nouveau {
    background-color: #99E2D0;
    color: #008766;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .container_footer {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    padding: 1.2rem;
    padding-bottom: 3rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
    margin: auto;
  }
  .container_footer__logo {
    width: 12%;
  }
}
/* Homepage version tablette */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  body {
    margin: 0;
  }

  .container_fonctionnement {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .container_fonctionnement__cartouche {
    list-style-type: none;
    counter-reset: compteListe;
    align-content: center;
    margin-left: -1rem;
    justify-content: space-between;
    width: 90%;
  }
  .container_fonctionnement__options {
    max-width: 100%;
    display: flex;
    background-color: #F6F6F6;
    height: 2rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    align-items: center;
    box-shadow: 0 0 10px #0000002e;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    flex: 1;
  }
  .container_fonctionnement__icone {
    color: #3535356e;
    margin-left: 1rem;
  }
  .container_fonctionnement a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    margin-left: 1.5rem;
  }
  .container_fonctionnement__titre {
    padding-top: 1rem;
    padding-left: 0;
  }

  .purple-option {
    background-color: #ddbfff75;
  }
  .purple-option__icon {
    color: #9356DC;
    margin-left: 1rem;
  }

  .container_restaurants {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container_restaurants__titre {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
  }

  .container_footer {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    padding: 1.2rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    margin: auto;
  }
  .container_footer__logo {
    width: 15%;
  }
}
/* Mobile first Restaurants - @media screen and (max-width: 480px)*/
body {
  margin: 0;
}

.container_header_rts {
  display: flex;
  max-width: 100%;
  padding: 1.2rem;
  color: black;
  justify-content: center;
}
.container_header_rts a {
  text-decoration: none;
  color: black;
}
.container_header_rts__logo-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_header_rts__arrow {
  padding: 1rem;
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
}
.container_header_rts__arrow:hover {
  color: #99E2D0;
}

.img_restaurants {
  width: 100%;
  object-fit: cover;
}

#section_restaurants {
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}

.header_menu_rts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
}
.header_menu_rts a {
  text-decoration: none;
  color: black;
}

.container_rts {
  padding: 1.2rem;
  margin-top: -1rem;
}

.container_cartouches_entrees, .container_cartouches_plats, .container_cartouches_desserts {
  margin-bottom: 3rem;
}

.container_cartouches_titre {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 0.3rem;
  width: 12%;
  position: relative;
  justify-content: flex-start;
}

.cartouche_entrees, .cartouche_plats, .cartouche_desserts {
  max-width: 100%;
  background-color: #FFFFFF;
  border-radius: 1.2rem;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  margin-bottom: 1.2rem;
  position: relative;
  overflow: hidden;
  animation: apparition_plats 0.6s;
  animation-fill-mode: both;
}
.cartouche_entrees__bloctext, .cartouche_plats__bloctext, .cartouche_desserts__bloctext {
  display: flex;
  padding-left: 0.8rem;
  padding-right: 1.1rem;
  cursor: pointer;
}
.cartouche_entrees a, .cartouche_plats a, .cartouche_desserts a {
  text-decoration: none;
  color: black;
}
.cartouche_entrees__text, .cartouche_plats__text, .cartouche_desserts__text {
  margin-top: -0.7rem;
  text-align: left;
  overflow: hidden;
  flex: 1;
}
.cartouche_entrees__titre, .cartouche_plats__titre, .cartouche_desserts__titre {
  margin-bottom: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cartouche_entrees__texte, .cartouche_plats__texte, .cartouche_desserts__texte {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cartouche_entrees__price, .cartouche_plats__price, .cartouche_desserts__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.cartouche_entrees__confirmation, .cartouche_plats__confirmation, .cartouche_desserts__confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 4.5rem;
  height: auto;
  margin: 0rem -5.6rem 0rem 1rem;
  transition-duration: 0.7s;
}
.cartouche_entrees__bloc, .cartouche_plats__bloc, .cartouche_desserts__bloc {
  background-color: white;
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transform: rotate(180deg);
  transition-duration: 0.7s;
}
.cartouche_entrees__icon, .cartouche_plats__icon, .cartouche_desserts__icon {
  color: #99E2D0;
}
.cartouche_entrees:hover .cartouche_entrees__confirmation, .cartouche_plats:hover .cartouche_entrees__confirmation, .cartouche_desserts:hover .cartouche_entrees__confirmation, .cartouche_entrees:hover .cartouche_plats__confirmation, .cartouche_plats:hover .cartouche_plats__confirmation, .cartouche_desserts:hover .cartouche_plats__confirmation, .cartouche_entrees:hover .cartouche_desserts__confirmation, .cartouche_plats:hover .cartouche_desserts__confirmation, .cartouche_desserts:hover .cartouche_desserts__confirmation {
  margin-right: -1.1rem;
  animation-timing-function: linear;
}
.cartouche_entrees:hover .cartouche_entrees__bloc, .cartouche_plats:hover .cartouche_entrees__bloc, .cartouche_desserts:hover .cartouche_entrees__bloc, .cartouche_entrees:hover .cartouche_plats__bloc, .cartouche_plats:hover .cartouche_plats__bloc, .cartouche_desserts:hover .cartouche_plats__bloc, .cartouche_entrees:hover .cartouche_desserts__bloc, .cartouche_plats:hover .cartouche_desserts__bloc, .cartouche_desserts:hover .cartouche_desserts__bloc {
  transform: rotate(0deg);
}

.loading-1 {
  animation-delay: 0.2s;
}

.loading-2 {
  animation-delay: 0.4s;
}

.loading-3 {
  animation-delay: 0.6s;
}

.loading-4 {
  animation-delay: 0.8s;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
  margin-top: 1rem;
}

/* Restaurants version desktop */
@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }

  .img_restaurants {
    height: 35rem;
  }

  #section_restaurants {
    background-color: #F6F6F6;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    margin: auto;
    width: 85%;
  }

  .header_menu_rts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #F6F6F6;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    margin-top: -6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header_menu_rts a {
    text-decoration: none;
    color: black;
  }

  .container_rts {
    padding: 1.5rem;
    margin-top: -1rem;
    display: flex;
    justify-content: space-between;
  }

  .container_cartouches_entrees, .container_cartouches_plats, .container_cartouches_desserts {
    width: 32%;
    margin-bottom: 0;
  }
}
/* Restaurants version tablette */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0;
  }

  .img_restaurants {
    height: 20rem;
  }

  .container_cartouches_titre {
    width: 6%;
  }
}
.intro_site_button, .commande_button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2rem;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: .25s;
}
.intro_site_button:hover, .commande_button:hover {
  box-shadow: 0.25rem 0.25rem 16px #0000007a;
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
