#container_footer {
    background-color: map-get($background-color, gris_fonce);
    max-width: 100%;
}
.container_footer {
    @include footer;
        &__logo {
            width: 35%;
            margin-bottom: 2rem;
            @include desktop {
                width: 12%;
            }
        }
            a {
                text-decoration: none;
                color:white;
                &:hover {
                    cursor: pointer;
                    color: $colour-tertiary;
                }
            }
                &__categorie {
                    padding-bottom: 0.5rem;
                }
}
.categorie_icon {
    padding-right: 0.5rem;
    width: 1.2rem;
}