/* Mobile first Homepage - @media screen and (max-width: 480px) */

    @mixin mobile {
        @media screen and (max-width: 480px){
            @content;
        }
    }
    
    body {
        margin: 0;
    }
    .loader {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.685);
        animation-name: loader_background;
        animation-delay: 2.3s;
        animation-fill-mode: both;
            &__icon {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                border: 18px solid $colour-primary;
                border-top: 18px solid $colour-secondary;
                animation: spin linear 2.5s;
                animation-name: loader;
            }
    }
    .container_header {
        max-width: 100%;
        padding: 2rem;
        text-align: center;
        box-shadow: 0 0 0.5rem #0000002e;
        z-index: 1;
        position: relative;
    }
    .container_localisation {
        display: flex;
        background-color: map-get($background-color, gris_moyen);
        position: relative;
        padding: 1rem;
        justify-content: center;
            &__icon {
                margin-right: 1rem;
            }
                &__text {
                    font-size: 1rem;
                    font-family: 'Roboto', sans-serif;
                }
    }
    .container_fonctionnement {
        display: flex;
        flex-direction: column;
        width: 97%;
            &__cartouche {
                list-style-type: none;
                counter-reset: compteListe;
                align-content: center;
                margin-left: -1rem;
            }
                &__options {
                    max-width: 100%;
                    display: flex;
                    background-color: map-get($background-color, gris_clair);
                    height: 2rem;
                    border-radius: 1rem;
                    padding: 1.2rem 1.2rem;
                    align-items: center;
                    box-shadow: 0.2rem 0.2rem 12px #0000002e;
                    margin-bottom: 1.2rem;
                }
                    &__options::before {
                        counter-increment: compteListe 1;
                        content: counter(compteListe) " ";
                        background-color: $colour-primary;
                        color: white;
                        font-family: 'Roboto', sans-serif;
                        height: 1.6rem;
                        width: 1.6rem;
                        border-radius: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: -1.75rem;
                    }
                        &__icone {
                            color: $colour-quinary-opacity;
                            margin-left: 1rem;
                        }
                            & a {
                                font-family: 'Roboto', sans-serif;
                                font-size: map-get($font-size, h3);
                                font-weight: 500;
                                text-decoration: none;
                                color: black;
                                margin-left: 1.5rem;
                                opacity: 1;
                            }
                                &__titre {
                                    padding-top: 2.5rem;
                                    padding-left: 1rem;
                                }
    }
    .purple-option {
        background-color: $colour-purple-opacity;
        &__icon {
            color: $colour-primary;
            margin-left: 1rem;
        }
    }
    .intro_site {
        background-color: $colour-quaternary;
        padding: 1.5rem;
        padding-bottom: 3rem;
        text-align: center;
            &__titre {
                font-size: map-get($font-size, h1);
            }
                &__description {
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }
    }
    .container_restaurants {
        background-color: $colour-quaternary;
            &__titre {
                padding-top: 2.5rem;
                padding-left: 1.2rem;
            }
    }
    .cartouche_restaurants {
        display:flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
            &__bloc {
                @include bloc;
            }
                a {
                    text-decoration: none;
                    color: inherit;
                }
                    &__nouveau {
                        @include nouveau;
                    }
                        &__figure {
                            margin: 0rem;
                        }
                            &__img {
                                height: 10rem;
                                object-fit: cover;
                                object-position: center;
                                width: 100%;
                                border-radius: 1rem 1rem 0 0;
                            }
                                &__blocfooter {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-left: 1rem;
                                    margin-right: 1rem;
                                    margin-top: -0.7rem;
                                }
                                    &__titre {
                                        margin-bottom: 0.3rem;
                                    }
                                        &__texte {
                                            margin-top: 0.3rem;
                                        }
                                    }
                                
    .coeur {
        cursor: pointer;
        background-color: transparent;
        border: transparent 0px solid;
        position: relative;
            &::before {
                position: absolute;
                opacity: 0;
                transition: 0.25s;
                content: "";
                height: 100%;
                width: 100%;
                background-image: linear-gradient($colour-secondary, $colour-primary);
                }
                    &:hover::before {
                        background-color: black;
                        opacity: 1;
                    }
                        &__heart {
                            &--actif {
                                opacity: 1;
                                position: absolute;
                                transition-duration: 0.25s;
                                background-color: white;
                                top: 0;
                                left: 0;
                                mix-blend-mode: lighten;
                            }
                                &:hover {
                                    &--inactif {
                                        opacity: 0;
                                    }
                                }
                        }     
    }
    #container_footer {
        background-color: map-get($background-color, gris_fonce);
        max-width: 100%;
    }
    .container_footer {
        @include footer;
            &__logo {
                width: 35%;
                margin-bottom: 2rem;
            }
                a {
                    text-decoration: none;
                    color:white;
                    &:hover {
                        cursor: pointer;
                        color: $colour-tertiary;
                    }
                }
                        &__categorie {
                            padding-bottom: 0.5rem;
                        }
                            &__icon {
                                padding-right: 0.5rem;
                                width: 1.2rem;
                            }
    }                       