/* Mobile first Restaurants - @media screen and (max-width: 480px)*/

@mixin mobile {
    @media screen and (max-width: 480px){
        @content;
    }
}
    body {
        margin: 0;
    }
    .container_header_rts {
        display: flex;
        max-width: 100%;
        padding: 1.2rem;
        color: black;
        justify-content: center;
            a {
                text-decoration: none;
                color: black;
            }
                &__logo-arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                    &__arrow {
                        padding: 1rem;
                        position: absolute;
                        top: 0.6rem;
                        left: 0.5rem;
                            &:hover {
                                color: $colour-tertiary;
                            }
                    }
    }
    .img_restaurants {
        width: 100%;
        object-fit: cover;
    }
    #section_restaurants {
        @include section_restaurants;
    }
    .header_menu_rts {
        @include header_menu;
            a {
                text-decoration: none;
                color: black;
            }
                &__coeur {
                    position: relative;
                        .coeur--inactif {
                            display: block;
                            position: absolute;
                            background-color: $colour-quaternary;
                        }
                            &:hover .coeur {
                                &--actif {
                                    @include activation_coeur;
                                }
                                &--inactif {
                                    display: none;
                                }
                            }
                }
    }
    .container_rts {
        padding: 1.2rem;
        margin-top: -1rem;
    }
    .container_cartouches_entrees, .container_cartouches_plats, .container_cartouches_desserts {
        margin-bottom: 3rem;
    }
    .container_cartouches_titre {
        border-bottom: 4px solid $colour-tertiary;
        padding-bottom: 0.3rem;
        width: 12%;
        position: relative;
        justify-content: flex-start;
    }
    .cartouche_entrees, .cartouche_plats, .cartouche_desserts {
        @include bloc;
        animation: apparition_plats $anim-dur;
        animation-fill-mode: both;
            &__bloctext {
                display: flex;
                padding-left: 0.8rem;
                padding-right: 1.1rem;
                cursor: pointer;
            }
                a {
                    text-decoration: none;
                    color: black;
                }
                    &__text {
                        margin-top: -0.7rem;
                        text-align: left;
                        overflow: hidden;
                        flex: 1;
                    }
                        &__titre {
                            margin-bottom: 0.4rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                            &__texte {
                                margin-top: 0.3rem;
                                font-size: 0.9rem;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                                &__price {
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 700;
                                    margin-bottom: 0.8rem;
                                    display: flex;
                                    align-items: flex-end;
                                    justify-content: flex-end;
                                }
                                    &__confirmation {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: $colour-tertiary;
                                        width: 4.5rem;
                                        height: auto;
                                        margin: 0rem -5.6rem 0rem 1rem;
                                        transition-duration: 0.7s;
                                    }
                                            &__bloc {
                                                background-color: white;
                                                height: 1.6rem;
                                                width: 1.6rem;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 1rem;
                                                transform: rotate(180deg);
                                                transition-duration: 0.7s;
                                            }
                                                    &__icon {
                                                        color: $colour-tertiary;
                                                    }
                                                        &:hover &__confirmation {
                                                            margin-right: -1.1rem;
                                                            animation-timing-function: linear;
                                                        }
                                                            &:hover &__bloc {
                                                                transform: rotate(0deg);
                                                            }
    }
    .loading-1 {
        animation-delay: 0.2s;
    }
    .loading-2 {
        animation-delay: 0.4s;
    }
    .loading-3 {
        animation-delay: 0.6s;
    }
    .loading-4 {
        animation-delay: 0.8s;
    }
    .button {
        display:flex;
        justify-content: center;
        padding-bottom: 2.5rem;
        margin-top: 1rem;
    }