@mixin button_pink {
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: normal;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: .25s;
}
@mixin footer {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: map-get($font-size, h3);
    font-weight: 400;
    padding: 1.2rem;
    padding-bottom: 3rem;
}
@mixin bloc {
    max-width: 100%;
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    margin-bottom: 1.2rem;
    position: relative;
    overflow: hidden;
}
@mixin nouveau {
    background-color: $colour-tertiary;
    color: #008766;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
	position: absolute;
    right: 1rem;
    top: 1rem;
}
@mixin header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: $colour-quaternary;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
}
@mixin section_restaurants {
    background-color: $colour-quaternary;
    border-radius: 2rem 2rem 0 0;
    position: relative;
}