$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-quaternary: #F6F6F6;
$colour-quinary: #353535;
$colour-senary: #EAEAEA;

$font-size : (h1:1.6rem, h2:1.3rem, h3:1rem, paragraphe: 0.8rem);
$background-color : (gris_clair:$colour-quaternary, gris_fonce:$colour-quinary, gris_moyen:$colour-senary);

@mixin button_pink {
    background: linear-gradient($colour-secondary, $colour-primary);
    border-radius: 2rem;
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: normal;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 16px #0000002e;
}

@mixin footer {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: map-get($font-size, h3);
    font-weight: lighter;
    padding: 1.2rem;
    padding-bottom: 3rem;
    @include desktop {
        width: 80%;
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        text-align: center;
        margin: auto;
    }
}

@mixin bloc {
    background-color: #FFFFFF;
    border-radius: 1.2rem;
    box-shadow: 0 0 16px #0000002e;
    cursor: pointer;
    margin-bottom: 1.2rem;
}

@mixin nouveau {
    background-color: $colour-tertiary;
    color: #008766;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
	position: absolute;
    right: 2rem;
}

@mixin header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: $colour-quaternary;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    @include desktop {
        margin-top: -6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@mixin section_restaurants {
    background-color: $colour-quaternary;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    @include desktop {
        text-align: center;
        margin: auto;
    }
}